.chancellor-message {
	max-width: 1000px;
	margin: 1em auto;
	padding: 1em;
	color: black;
}

.chancellor-message__head {
	display: flex;
	flex-direction: column;
	background-color: brown;
	padding: 1em;
	color: white;
	/* position: sticky; */
	height: fit-content;
	top: 0;
}
.chancellor-message__head .chancellor-card__parts-message-btn {
	margin-top: 1em;
	display: inline-block;
}

.chancellor-message__title {
	margin-bottom: 1em;
}

.chancellor-message__name {
	font-size: 1.6rem;
	margin-top: 0.8em;
}

.chancellor-message__qualification,
.chancellor-message__chancellor-title {
	font-size: 1.2rem;
}

.chancellor-message__img {
	display: inline-block;
	margin: 0 auto;
}

.chancellor-message__body {
	margin-top: 1em;
}

.chancellor-message__body p {
	margin-bottom: 1.4em;
	text-align: justify;
}

.chancellor-message__body ul {
	list-style-type: disc;
	margin: revert;
	padding: revert;
}

@media screen and (min-width: 400px) {
	.chancellor-message__img {
		max-width: 350px;
	}
}

@media screen and (min-width: 760px) {
	.chancellor-message__content {
		display: flex;
	}
	.chancellor-message__head {
		align-self: flex-start;
	}
	.chancellor-message__body {
		margin-top: 0;
	}
}
