*{
	font-family: Poppins;
}
.mobile-nav__container {
	position: fixed;
	background-color: #333;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	z-index: 999;
}

.mobile-nav__grid {
	display: grid;
	grid-template-columns: 25px auto;
}

.mobile-nav__container > div {
	height: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.mobile-nav__main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.mobile-nav__body {
	display: flex;
	flex: 1;
}

.mobile-nav__list {
	list-style-type: none;
	flex: 1;
}

.mobile-nav__back-btn {
	font-size: 2rem;
	padding: 0.2em;
	display: flex;
	align-items: center;
	background-color: gray;
	color: lightgray;
}

.mobile-nav__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gray;
}

.mobile-nav__item--search,
.mobile-nav__item--title {
	color: white;
	background-color: crimson;
	padding: 0.8em 0.4em;
}

.mobile-nav__item--title {
	text-transform: uppercase;
}

.mobile-nav__link {
	flex: 1;
	text-decoration: none;
	color: white;
	padding: 0.8em 0.4em;
	text-transform: uppercase;
}

.mobile-nav__right-icon {
	display: inline-block;
	font-size: larger;
	line-height: 0;
	border-left: 1px solid #666;
	padding-left: 0.2em;
	margin-right: 0.8em;
}

.mobile-nav__right-arrow {
	color: #b20000;
	background-color: white;
	border-radius: 50%;
}

.mobile-nav__footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	padding: 1em;
}

.mobile-nav__close-icon {
	color: white;
	font-size: 2.5rem;
}

.desktop-nav__container {
	display: flex;
	justify-content: center;
	position: relative;
	max-width: 900px;
	margin: 0 auto;
}

.desktop-nav {
	position: relative;
}

.desktop-nav::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
	z-index: -1;
}

.desktop-nav__link {
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.desktop-nav__link--sub-menu-title {
	font-size: 1rem;
}

.desktop-nav__link:hover {
	color: #b20000;
}

.desktop-nav__main-link {
	font-family: Poppins;
	font-weight:600;
	font-size: 1.1rem;
	padding: 1em 1.5em;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAA5CAYAAAA7pXuiAAABhElEQVRYw61XQW7EMAgE4h+0l/7/PfnGXna/ENOTK0IwYFxL0TqKPB5mAK/x6/sHigPH5PN+Me2CjHkV6DHaBhusAqH38d80apVF6h2rGmmd8DzPEAgdVigZ7WiEApRbxSEFNNXIE5eM8GhFbK3LAKXINUwwHSBHRWyU4QhWDyBMLEbBxATCgIUOacwPy4UoIaXQN6a06Bip0A7NiKN+Y9juih3pgzOxW1AOMxCpzx8jLnRHCfIoEVxIBTOzK6GRSoNbaJw5LQxw2m1st00o0cQgkVdp18JRDY31nBxRIWA7vvVVRmy8d8ko2p0nz21NReyu2FxRh7R2ZgHSM6GxE5pmd1liRy7J5xKszA4JAcsBwpJRCxjgJExQWplArIRnYUZXvxglJDtJqF27sglplQRHofEkn2BSHqk/7OyAdc1otWjZCDHlmp5bdQcZ17xygYgRLLiHmbuITMRZkpYuNR4Y0oJbXqYDLlxFp4fE5/3qVBSbd841dloK0Ib923da2A3NHb+xl5MY0pgHHAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.desktop-nav__main-link--reset {
	background-image: none;
}

.desktop-nav__sub-menu-container {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 1em;
	background-color: white;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 999;
	font-size: 1.1rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.desktop-nav__link-section:hover > .desktop-nav__sub-menu-container,
.desktop-nav__main-link:focus + .desktop-nav__sub-menu-container {
	display: block;
}

.desktop-nav__link-section:hover .desktop-nav__main-link,
.desktop-nav__main-link:focus,
.desktop-nav__main-link:hover {
	background-color: white;
}

.desktop-nav__go-to {
	padding-bottom: 1em;
}

.desktop-nav__go-to a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: #b20000;
	color: white;
	padding: 0 0.2em;
	display: inline-block;
}

.desktop-nav__sub-menu {
	display: flex;
	justify-content: space-between;
}

.desktop-nav__sub-menu > div {
	width: 80%;
}

.desktop-nav__seperator {
	border-right: 1px solid black;
	margin-right: 1em;
}

.desktop-nav__sub-menu .desktop-nav__seperator:last-child {
	border-right-color: transparent;
	margin-right: 1em;
}

.desktop-nav__nested-sub-menu {
	margin-top: 0.6em;
}
.desktop-nav__nested-sub-menu > div {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

.desktop-nav__nested-sub-menu--departments {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 350px) {
	.mobile-nav__grid {
		grid-template-columns: 35px auto;
	}
	.mobile-nav__link,
	.mobile-nav__item--search,
	.mobile-nav__item--title {
		padding: 0.8em;
	}
}
