/* Overriding slider package css */
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
	display: none;
}

.alice-carousel__stage-item {
	vertical-align: middle;
}

.alice-carousel__dots {
	margin-top: 10px;
}

.alice-carousel__dots-item:not(.__custom) {
	/* width: 15px;
	height: 15px; */
	background-color: white;
	box-shadow: inset 1px 1px #9c9c9c;
}

/* Custom css */
.image-gallery {
	background-color: #e6e6e6;
}

.image-gallery__img-container {
	display: flex;
	justify-content: center;
}

.image-gallery__img {
	max-height: 500px;
}

.banner__first-slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: 500px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.banner__text-box {
	display: inline-block;
	padding: 1.5em;
	margin-left: 10rem;
	border-radius: 0.5rem;
	color: #8d2b1e;
	background-color: rgba(255, 255, 255, 0.6);
}

.banner__text-box h6 {
	font-size: 2rem;
}
.banner__text-box h1 {
	font-size: 2.8rem;
	font-weight: 700;
	margin-bottom: 0;
}

@media only screen and (max-width: 832px) {
	.banner__first-slide {
		height: 400px;
	}
	.banner__text-box {
		margin-left: 4rem;
	}
	.banner__text-box h6 {
		font-size: 1.1rem;
	}
	.banner__text-box h1 {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 414px) {
	.banner__first-slide {
		height: 300px;
	}
	.banner__text-box {
		margin-left: 2rem;
	}
	.banner__text-box h6 {
		font-size: 1rem;
	}
	.banner__text-box h1 {
		font-size: 1.6rem;
	}
}
